@charset "UTF-8";
/* cssリセット */
html {
  scroll-behavior: smooth;
}

/*利用するタグによってこちらの内容は増やす*/
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
  margin: 0;
  padding: 0;
  line-height: 1;
  /*デフォルトの文字色、font-familyを予め当てておく*/
  color: #4f260b;
  font-family: "fot-tsukuardgothic-std", "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-feature-settings: "palt";
}

a {
  /*下線を消す*/
  text-decoration: none;
  /*色を消す*/
  color: inherit;
  transition: 0.3s;
}

a:hover {
  opacity: 0.5;
}

ul {
  /*左の「・」を消す*/
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
  border: none;
}

/* 汎用クラス */
.sp_only {
  display: none;
}

@media screen and (max-width: 767px) {
  .sp_only {
    display: block;
  }
  .pc_only {
    display: none;
  }
}
/* 共通 */
body {
  filter: contrast(100%) brightness(100%);
  background: radial-gradient(circle at 50% 150%, rgb(239, 212, 212), rgb(255, 255, 255)), url("data:image/svg+xml,%3Csvg viewBox='0 0 261 261' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1.01' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)'/%3E%3C/svg%3E");
}

.concept,
.saloninfo,
.style,
.menu,
.blog,
.access {
  max-width: 1080px;
  margin: 0 auto;
}

section {
  margin-bottom: 115px;
}

.section__title {
  padding-top: 88px;
  font-size: 44px;
  text-align: center;
  font-family: "futura-pt", sans-serif;
  font-weight: 400;
  color: #ee8288;
}
@media screen and (max-width: 767px) {
  .section__title {
    display: block;
    padding-top: 0;
    font-size: 30px;
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    color: #ee8288;
  }
}

h2 {
  position: relative;
  margin-bottom: 1em;
}

h2:before {
  content: "";
  position: absolute;
  bottom: -20px;
  display: inline-block;
  width: 32px;
  height: 3px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ee8288;
  border-radius: 2px;
}
@media screen and (max-width: 767px) {
  h2:before {
    bottom: -10px;
    width: 22px;
  }
}

/* --------
HEADER
-------- */
.header__img {
  position: relative;
  min-height: 100svh;
}
.header__img img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-radius: 15px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 0 -30px;
     object-position: 0 -30px;
}
@media screen and (max-width: 767px) {
  .header__img img {
    -o-object-position: 0;
       object-position: 0;
  }
}

.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 100%;
  padding: 2vw;
  box-sizing: border-box;
  top: 0;
  left: 0;
}

.header__inner {
  padding: 2vw;
}

.header__logo {
  margin-left: 25px;
  width: 180px;
}
@media screen and (max-width: 870px) {
  .header__logo {
    margin-top: 20px;
    width: 150px;
  }
}
@media screen and (max-width: 767px) {
  .header__logo {
    width: 100px;
  }
}

.pc__nav ul {
  display: flex;
  align-items: center;
}

.pc__nav ul li {
  margin-left: 40px;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  font-family: "futura-pt", sans-serif;
  text-align: center;
  color: white;
  text-align: center;
}

.nav__link-sns {
  width: 28px;
  text-align: center;
}

.nav__link-reserve {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 150px;
  background-color: #F19BA0;
  color: #fff;
  text-align: center;
  border-top-right-radius: 15px;
}
.nav__link-reserve a {
  line-height: 1.3;
}

/* ハンバーガーメニュー */
.sp__nav,
.sp__btn {
  display: none;
}

@media screen and (max-width: 1100px) {
  .pc__nav {
    display: none;
  }
  .sp__btn {
    position: absolute;
    top: 45px;
    right: 30px;
    display: block;
    height: 23px;
    cursor: pointer;
    z-index: 2;
  }
  .sp__btn span {
    position: relative;
    top: 10px;
    display: block;
    width: 33px;
    height: 2px;
    border-radius: 2px;
    background: #fff;
    /* transition: 0.3s; */
  }
}
@media screen and (max-width: 1100px) and (max-width: 767px) {
  .sp__btn span {
    top: 3px;
  }
}
.sp__btn span::before,
.sp__btn span::after {
  position: absolute;
  content: "";
  display: block;
  width: 33px;
  height: 2px;
  border-radius: 2px;
  background: #fff;
  /* transition: 0.3s; */
}

.sp__btn span::before {
  bottom: 10px;
}

.sp__btn span::after {
  top: 10px;
}

/* ハンバーガーメニューを閉じる */
.sp__btn.open span {
  background: transparent;
}

.sp__btn.open span::before {
  bottom: 0;
  transform: rotate(45deg);
}

.sp__btn.open span::after {
  top: 0;
  transform: rotate(135deg);
}

/* ハンバーガーメニュー */
.sp__nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  /* ↓全画面表示 デバイスの高さ vh vw */
  height: 100vh;
  /* 一部の背景を透過させる*/
  background: rgba(241, 155, 160, 0.9);
  z-index: 1;
}

.sp__nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.sp__nav ul li {
  padding: 20px 0;
  color: #fff;
  font-size: 18px;
  font-family: "futura-pt", sans-serif;
}

/* -------
Concept
-------- */
.concept {
  padding-top: 100px;
}
.concept__inner {
  display: flex;
  gap: 8%;
  align-items: center;
  width: 88%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .concept__inner {
    padding-right: 4.26vw;
    padding-left: 4.26vw;
    display: block;
  }
}
.concept .section__title-sp {
  display: none;
}
@media screen and (max-width: 767px) {
  .concept .section__title-sp {
    display: block;
    margin-bottom: 50px;
    padding-top: 30px;
    font-size: 30px;
    text-align: center;
    font-family: "futura-pt", sans-serif;
    font-weight: 400;
    color: #ee8288;
  }
}
.concept__img {
  width: 70%;
}
@media screen and (max-width: 767px) {
  .concept__img {
    margin: 0 auto;
  }
}
.concept__img img {
  width: 100%;
}
.concept__text {
  text-align: center;
}
.concept .section__title {
  padding-top: 80px;
}
@media screen and (max-width: 767px) {
  .concept .section__title {
    display: none;
  }
}
.concept__title {
  padding-top: 40px;
  font-size: 37px;
  font-weight: normal;
  line-height: 1.6;
  color: #ee8288;
  font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3", "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝", "ＭＳ 明朝", serif;
}
@media screen and (max-width: 767px) {
  .concept__title {
    font-size: 24px;
    letter-spacing: 0.1em;
  }
}
.concept__caption {
  width: 80%;
  margin: 0 auto;
  padding-top: 40px;
  padding-right: 10px;
  padding-left: 10px;
  line-height: 1.8;
}
@media screen and (max-width: 767px) {
  .concept__caption {
    padding-top: 30px;
    line-height: 1.5;
  }
}

/* --------
SalonInfo
----------- */
.saloninfo {
  padding-top: 200px;
}
@media screen and (max-width: 767px) {
  .saloninfo {
    padding-top: 140px;
  }
}
.saloninfo__inner {
  margin: 0 auto;
  padding-right: 2vw;
  padding-left: 2vw;
}
@media screen and (max-width: 767px) {
  .saloninfo__inner {
    padding-right: 4.26vw;
    padding-left: 4.26vw;
  }
}
.saloninfo .info__title {
  margin-top: 70px;
  font-size: 21px;
  font-weight: normal;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 3em 4em 0.4em 2em;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .saloninfo .info__title {
    margin-top: 0;
    margin-left: 20px;
    font-size: 16px;
    padding: 3em 3em 0.4em 1em;
  }
}
.saloninfo .info__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ee8288;
  transform: scaleY(0.5) perspective(2em) rotateX(5deg);
  transform-origin: bottom left;
  border-radius: 8px 8px 0 0;
}
.saloninfo .info__contents {
  display: flex;
  gap: 60px;
  align-items: start;
  width: 100%;
  justify-content: center;
}
@media screen and (max-width: 1000px) {
  .saloninfo .info__contents {
    gap: 30px;
  }
}
@media screen and (max-width: 767px) {
  .saloninfo .info__contents {
    display: block;
    width: 100%;
    margin: 0 auto;
  }
}
.saloninfo .info__item {
  width: 32%;
  padding-top: 40px;
}
@media screen and (max-width: 767px) {
  .saloninfo .info__item {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 40px;
  }
}
.saloninfo .info__head {
  margin-bottom: 10px;
  font-family: "futura-pt", sans-serif;
  font-size: 33px;
}
@media screen and (max-width: 1000px) {
  .saloninfo .info__head {
    font-size: 27px;
  }
}
@media screen and (max-width: 767px) {
  .saloninfo .info__head {
    font-size: 30px;
    margin-left: 5px;
  }
}
.saloninfo .info__head .title {
  color: #514040;
}
.saloninfo .point {
  display: inline-block;
  position: relative;
  padding: 0.1rem 0.4rem;
  border-bottom: 1px solid #ee8288;
}
@media screen and (max-width: 1000px) {
  .saloninfo .point {
    text-align: center;
    padding: 0.2rem 0.4rem;
    line-height: 0.8;
  }
}
.saloninfo .point:before, .saloninfo .point:after {
  position: absolute;
  left: 50%;
  content: "";
  height: 0;
  width: 0;
}
.saloninfo .point:before {
  top: 100%;
  border: 6px solid;
  border-color: transparent;
  border-top-color: #ee8288;
  margin-left: -6px;
}
.saloninfo .point:after {
  top: 99%;
  border: 5px solid;
  border-color: transparent;
  border-top-color: #fcf7f7;
  margin-left: -5px;
}
.saloninfo .small__text_pink {
  display: block;
  margin-bottom: -4px;
  font-size: 16px;
  font-family: "futura-pt", sans-serif;
  color: #ee8288;
}
@media screen and (max-width: 1000px) {
  .saloninfo .small__text_pink {
    margin-bottom: 0;
    font-size: 14px;
  }
}
.saloninfo .text_pink-number {
  font-family: "futura-pt", sans-serif;
  font-size: 29px;
  color: #ee8288;
}
@media screen and (max-width: 1000px) {
  .saloninfo .text_pink-number {
    font-size: 25px;
  }
}
.saloninfo .info__item li img img {
  width: 23%;
}
.saloninfo .info__img {
  border-radius: 8px 8px 0 0;
  overflow: hidden;
}
.saloninfo .info__body {
  background: white;
  border-radius: 8px;
}
.saloninfo .info__item-title {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 17px;
  text-align: center;
  padding: 17px 0 5px 0;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 2px dotted #FFBE98;
}
.saloninfo .info__text {
  padding: 0 30px 17px 30px;
  font-size: 16px;
  line-height: 1.6;
}

/* ------
Style
---------*/
.style {
  padding-top: 240px;
}
@media screen and (max-width: 767px) {
  .style {
    padding-top: 140px;
  }
}
.style__container {
  width: 95%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 100px;
}
@media screen and (max-width: 1072px) {
  .style__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    width: 100%;
    max-width: 300px;
    margin: 50px auto 0;
    justify-content: center;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 767px) {
  .style__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 50px;
    width: 100%;
    max-width: 300px;
    margin: 50px auto 0;
    justify-content: center;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 580px) {
  .style__container {
    display: block;
    width: 100%;
    padding-top: 30px;
  }
}
.style__item {
  position: relative;
  width: 240px;
  margin-bottom: 60px;
}
@media screen and (max-width: 1072px) {
  .style__item {
    margin: 0;
  }
}
@media screen and (max-width: 767px) {
  .style__item {
    margin: 0 10px;
  }
}
.style__img {
  border-radius: 13px;
  overflow: hidden;
}
.style__img img {
  border-radius: 13px;
}
.style__desc {
  position: absolute;
  margin-top: -35px;
  padding: 6px 10px;
  font-size: 14px;
  background: rgba(236, 116, 123, 0.5);
}
.style__desc:nth-last-child {
  margin-top: -50px;
}
.style__text {
  font-size: 15px;
  color: #f6efef;
}

/* ------
Menu
---------*/
.menu {
  position: relative;
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .menu {
    padding-top: 150px;
  }
}
.menu__wrap {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 100px;
}
@media screen and (max-width: 767px) {
  .menu__wrap {
    width: 70%;
    padding-right: 4.5vw;
    padding-left: 4.5vw;
    margin-bottom: 100px;
  }
}
@media screen and (max-width: 580px) {
  .menu__wrap {
    width: 90%;
  }
}
.menu__wrap::before {
  display: block;
  content: "";
  width: 150px;
  height: 100px;
  background: url(../images/common_line.png) no-repeat left top;
  position: absolute;
  top: 90px;
  left: 5%;
}
@media screen and (max-width: 767px) {
  .menu__wrap::before {
    width: 100px;
    height: 50px;
    top: 130px;
  }
}
@media screen and (max-width: 580px) {
  .menu__wrap::before {
    display: none;
  }
}
.menu__wrap::after {
  display: block;
  content: "";
  width: 150px;
  height: 100px;
  background: url(../images/common_line.png) no-repeat left top;
  position: absolute;
  top: 90px;
  right: 5%;
  transform: scale(-1, 1);
}
@media screen and (max-width: 767px) {
  .menu__wrap::after {
    width: 100px;
    height: 50px;
    top: 130px;
  }
}
@media screen and (max-width: 580px) {
  .menu__wrap::after {
    display: none;
  }
}
.menu__box {
  width: 100%;
}
.menu__heading {
  font-weight: normal;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 3em 3em 0.4em 1em;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .menu__heading {
    font-size: 14px;
    margin-left: 20px;
  }
}
.menu__heading::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  background: #ee8288;
  transform: scaleY(0.5) perspective(2em) rotateX(5deg);
  transform-origin: bottom left;
  border-radius: 8px 8px 0 0;
}
.menu__heading .ja {
  border-left: 1px solid;
  padding-left: 7px;
  margin-left: 5px;
}
.menu__list {
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .menu__list {
    width: 80%;
  }
}
.menu__list::before {
  display: block;
  content: "";
  width: 150px;
  height: 100px;
  background: url(../images/common_line.png) no-repeat left top;
  position: absolute;
  bottom: -120px;
  left: 5%;
  transform: scale(1, -1);
}
@media screen and (max-width: 767px) {
  .menu__list::before {
    width: 100px;
    height: 50px;
  }
}
@media screen and (max-width: 580px) {
  .menu__list::before {
    display: none;
  }
}
.menu__list::after {
  display: block;
  content: "";
  width: 150px;
  height: 100px;
  background: url(../images/common_line.png) no-repeat left top;
  position: absolute;
  bottom: -120px;
  right: 5%;
  transform: scale(-1, -1);
}
@media screen and (max-width: 767px) {
  .menu__list::after {
    width: 100px;
    height: 50px;
  }
}
@media screen and (max-width: 580px) {
  .menu__list::after {
    display: none;
  }
}
.menu .menu__hr {
  width: 45%;
  background-image: linear-gradient(to right, #000 2px, transparent 2px);
  background-size: 10px 2px;
  background-repeat: repeat-x;
  background-position: left;
}
@media screen and (max-width: 1000px) {
  .menu .menu__hr {
    width: 35%;
  }
}
@media screen and (max-width: 767px) {
  .menu .menu__hr {
    width: 25%;
  }
}
@media screen and (max-width: 580px) {
  .menu .menu__hr {
    display: none;
  }
}
.menu__table {
  margin-bottom: 25px;
  display: flex;
  position: relative;
}
.menu__title {
  width: 220px;
  vertical-align: middle;
}
@media screen and (max-width: 767px) {
  .menu__title {
    width: 190px;
  }
}
.menu__caption {
  font-size: 13px;
  line-height: 1.5;
}
.menu__price {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0;
  vertical-align: top;
}

/* ------
Staff
---------*/
.staff {
  padding-top: 150px;
}
@media screen and (max-width: 767px) {
  .staff {
    padding-top: 200px;
    margin-bottom: 200px;
  }
}
@media screen and (max-width: 580px) {
  .staff {
    padding-top: 120px;
    margin-bottom: 100px;
  }
}
.staff__content {
  max-width: 1080px;
  display: flex;
  gap: 50px;
  padding: 0 4.5vw;
  margin: 85px auto 0;
}
@media screen and (max-width: 767px) {
  .staff__content {
    flex-direction: column;
    width: 90%;
    margin: 50px auto 0;
  }
}
.staff__img {
  width: 32%;
  border-radius: 8px;
  overflow: hidden;
  order: 1;
}
@media screen and (max-width: 767px) {
  .staff__img {
    width: 70%;
    margin: 0 auto;
  }
}
.staff__img img {
  border-radius: 8px;
}
.staff__text {
  width: 40%;
  order: 2;
}
@media screen and (max-width: 767px) {
  .staff__text {
    width: 70%;
    margin: 0 auto;
  }
}
.staff .name__title {
  font-weight: normal;
  color: white;
  display: inline-block;
  font-size: 16px;
  padding: 1em 2em 1em 0.5em;
  position: relative;
  z-index: 1;
}
@media screen and (max-width: 767px) {
  .staff .name__title {
    font-size: 13px;
  }
}
.staff .name__title::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 10px;
  left: 0;
  z-index: -1;
  background: #ee8288;
  transform: scaleY(0.8) perspective(1em) rotateX(5deg);
  transform-origin: bottom left;
  border-radius: 8px 8px 0 0;
}
.staff__name {
  font-size: 24px;
  font-weight: normal;
  line-height: 1.5;
  letter-spacing: 0.1em;
}

.salon__img {
  display: flex;
  position: relative;
  width: 45%;
  order: 3;
}
@media screen and (max-width: 767px) {
  .salon__img {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 200px;
  }
}
.salon__img img {
  border-radius: 8px;
}
.salon__img img:first-of-type {
  width: 55%;
  margin-left: auto;
  position: absolute;
}
.salon__img img:last-of-type {
  width: 65%;
  margin: 50% 0 0 5%;
  position: absolute;
  left: 90px;
}

.staff__caption {
  margin-top: 30px;
  line-height: 1.5;
}
@media screen and (max-width: 1000px) {
  .staff__caption {
    margin-top: 10px;
  }
}

.background-pink {
  margin-top: -120px;
  height: 190px;
  background: #FBE3E5;
}
@media screen and (max-width: 767px) {
  .background-pink {
    display: none;
  }
}

/* ------
Blog
---------*/
.blog {
  padding-top: 100px;
}
.blog__contents {
  display: flex;
  align-items: center;
  width: 95%;
  margin: 0 auto;
  gap: 10px;
  padding-top: 100px;
}
@media screen and (max-width: 767px) {
  .blog__contents {
    width: 80%;
    padding-top: 50px;
  }
}
.blog .slick-prev:before,
.blog .slicks-prev:before,
.blog .slick-next:before {
  content: "";
}
.blog .slick-prev,
.blog .slick-next {
  display: block;
  width: 20px;
  height: 20px;
  border-top: 2px solid #ee8288; /*矢印の色*/
  border-right: 2px solid #ee8288; /*矢印の色*/
  position: absolute; /*絶対配置にする*/
}
@media screen and (max-width: 767px) {
  .blog .slick-prev,
  .blog .slick-next {
    display: block;
    width: 11px;
    height: 11px;
    border-top: 2px solid #ee8288; /*矢印の色*/
    border-right: 2px solid #ee8288; /*矢印の色*/
    position: absolute; /*絶対配置にする*/
  }
}
.blog .slick-prev {
  /*戻る矢印*/
  left: -10px;
  z-index: 1; /*レイヤーの重なり順*/
  transform: translateY(100%) rotate(-135deg);
}
@media screen and (max-width: 767px) {
  .blog .slick-prev {
    left: -20px;
  }
}
.blog .slick-next {
  /*次へ矢印*/
  right: -10px;
  transform: translateY(100%) rotate(45deg);
}
@media screen and (max-width: 767px) {
  .blog .slick-next {
    right: -20px;
  }
}
.blog__item {
  width: 15%;
  padding-bottom: 10px;
  border-radius: 8px;
  background: white;
  margin: 0 10px;
}
@media screen and (max-width: 767px) {
  .blog__item {
    width: 30%;
    margin: 5px;
  }
}
.blog__item img {
  border-radius: 8px 8px 0 0;
}
.blog__text {
  padding: 8px 10px;
  line-height: 1.5;
}
.blog time {
  font-size: 14px;
  text-decoration: underline;
}

/* ------
Instagram
---------*/
.instagram {
  padding-top: 200px;
}
@media screen and (max-width: 767px) {
  .instagram {
    padding-top: 150px;
  }
}
.instagram__message {
  position: relative;
  width: 330px;
  margin: 50px auto;
  text-align: center;
  font-weight: normal;
  padding: 17px;
}
@media screen and (max-width: 767px) {
  .instagram__message {
    margin: 20px auto;
    width: 300px;
    font-size: 14px;
    padding: 10px 5px 10px 5px;
  }
}
.instagram__message::before, .instagram__message::after {
  position: absolute;
  top: 0.8rem;
  height: 1.8rem;
  content: "";
}
.instagram__message::before {
  border-left: dotted 2px #ee8288;
  left: 0;
  transform: rotate(-30deg);
}
@media screen and (max-width: 767px) {
  .instagram__message::before {
    top: 0;
  }
}
.instagram__message::after {
  border-right: dotted 2px #ee8288;
  right: 0;
  transform: rotate(30deg);
}
@media screen and (max-width: 767px) {
  .instagram__message::after {
    top: 0;
  }
}

.instagram__slider {
  margin-top: 100px;
  /* width: 20%; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media screen and (max-width: 767px) {
  .instagram__slider {
    margin-top: 50px;
  }
}

.slick-prev:before,
.slicks-prev:before,
.slick-next:before {
  content: "";
}

.slick-prev,
.slick-next {
  display: block;
  width: 20px;
  height: 20px;
  border-top: 2px solid white; /*矢印の色*/
  border-right: 2px solid white; /*矢印の色*/
  position: absolute; /*絶対配置にする*/
}

.slick-prev {
  /*戻る矢印*/
  left: 22%;
  z-index: 1; /*レイヤーの重なり順*/
  transform: translateY(-50%) rotate(-135deg);
}

.slick-next {
  /*次へ矢印*/
  right: 22%;
  transform: translateY(-50%) rotate(45deg);
}

@media screen and (max-width: 767px) {
  .instagram__slider img {
    display: none;
  }
  .instagram__slider {
    display: block;
  }
  .instagram__slider img {
    display: block;
    width: 100%;
    padding-top: 15px;
  }
  /* .sp_gallery_img {
          display: block;
          width: 100%;
          padding-top: 15px;
      } */
  .slick-prev:before,
  .slick-next:before {
    content: "";
  }
  .slick-prev,
  .slick-next {
    display: block;
    width: 11px;
    height: 11px;
    border-top: 2px solid #ee8288; /*矢印の色*/
    border-right: 2px solid #ee8288; /*矢印の色*/
    position: absolute; /*絶対配置にする*/
  }
  .slick-prev {
    /*戻る矢印*/
    left: 5%;
    z-index: 1; /*レイヤーの重なり順*/
    transform: translateY(-50%) rotate(-135deg); /*translateY(-50%)基準点が上下中央になる*/
  }
  .slick-next {
    /*次へ矢印*/
    right: 5%;
    transform: translateY(-50%) rotate(45deg);
  }
}
.instagram_btn {
  padding-top: 48px;
  text-align: center;
}
.instagram_btn a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 1em 2em;
  width: 150px;
  color: #ee8288;
  font-size: 18px;
  font-weight: 300;
  border: 1px solid #ee8288;
  border-radius: 10px;
  background-color: #fbf2f2;
}
.instagram_btn a::after {
  content: "";
  width: 5px;
  height: 5px;
  border-top: 2px solid #ee8288;
  border-right: 2px solid #ee8288;
  transform: rotate(45deg);
}
.instagram_btn a:hover {
  text-decoration: none;
  background-color: rgb(248, 239, 239);
}
.instagram_btn .a:hover::after {
  color: #ee8288;
  border-top: 3px solid #5E2F2A;
  border-right: 3px solid #5E2F2A;
}

/* ------
Access
---------*/
.access {
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  .access {
    max-width: 100%;
  }
}
.access_contents {
  width: 90%;
  display: flex;
  gap: 40px;
  align-items: center;
  margin: 0 auto;
  padding-top: 100px;
}
@media screen and (max-width: 1000px) {
  .access_contents {
    width: 100%;
    display: block;
    text-align: center;
    padding-top: 50px;
  }
}
.access iframe {
  width: 50%;
  height: 328px;
  border: 1px solid #ee8288;
}
@media screen and (max-width: 767px) {
  .access iframe {
    width: 60%;
    height: 193px;
  }
}
@media screen and (max-width: 580px) {
  .access iframe {
    width: 80%;
  }
}
.access__text {
  width: 50%;
  text-align: left;
}
@media screen and (max-width: 1000px) {
  .access__text {
    width: 55%;
    margin: 30px auto;
  }
}
@media screen and (max-width: 767px) {
  .access__text {
    width: 60%;
  }
}
@media screen and (max-width: 580px) {
  .access__text {
    width: 80%;
  }
}
.access__text tbody {
  display: inline-block;
}
.access__text tr {
  display: block;
  margin-bottom: 10px;
}
@media screen and (max-width: 580px) {
  .access__text tr {
    margin-bottom: 20px;
  }
}
.access__text th {
  width: 70px;
  vertical-align: top;
  padding-left: 8px;
  border-left: 3px solid #ec9397;
  font-weight: normal;
}
@media screen and (max-width: 580px) {
  .access__text th {
    display: inline-block;
  }
}
.access__text td {
  padding-left: 20px;
}
@media screen and (max-width: 580px) {
  .access__text td {
    padding-top: 5px;
    padding-left: 10px;
  }
}
.access__text td .access__caption {
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .access__text td .access__caption {
    font-size: 13px;
  }
}

.payment {
  display: flex;
  gap: 10px;
  padding-top: 20px;
  padding-left: 3px;
}
@media screen and (max-width: 767px) {
  .payment {
    display: block;
  }
}
.payment li {
  margin-top: 10px;
}
.payment li span {
  border-left: 3px solid #ec9397;
  border-radius: 2px;
  padding-left: 5px;
}
.payment li .payment__img {
  width: 70%;
  margin-left: 8px;
}
@media screen and (max-width: 767px) {
  .payment li .payment__img {
    width: 60%;
  }
}
.payment li img {
  margin-top: 8px;
}
@media screen and (max-width: 767px) {
  .payment li img {
    width: 60%;
  }
}

/* ------
Reserve
---------*/
.reserve {
  background: url(../images/salon.jpg);
  padding: 100px 0;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 90px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .reserve {
    padding: 40px 0;
  }
}
.reserve .section__title {
  padding-top: 0;
}
.reserve .message {
  text-align: center;
}
@media screen and (max-width: 767px) {
  .reserve .message {
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 767px) {
  .reservation__box {
    text-align: center;
  }
}

.reservation__btn {
  display: flex;
  justify-content: center;
  gap: 50px;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .reservation__btn {
    display: block;
    margin: 0 auto;
  }
}
.reservation__btn img {
  width: 16px;
  height: auto;
}

.btn__area {
  display: inline-flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  width: 388px;
  height: 65px;
  box-sizing: border-box;
  margin-top: 36px;
  color: #fff;
  border-radius: 8px;
  background: #ec9397;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .btn__area {
    width: 80%;
    height: 44px;
    margin-top: 15px;
  }
}
.btn__area:hover {
  opacity: 0.8;
}
.btn__area img {
  width: 16px;
  height: auto;
}

/* --------
Footer
-------- */
.footer {
  width: 100%;
  margin: 0 auto;
  padding-top: 100px;
}
.footer__wrap {
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__wrap {
    width: 90%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
.footer__logo {
  width: 155px;
  margin-left: 70px;
  margin-bottom: 80px;
}
@media screen and (max-width: 767px) {
  .footer__logo {
    width: 120px;
    margin-left: 0;
    padding-bottom: 5px;
  }
}
.footer__top {
  display: inline-block;
  margin: 0 auto;
  text-align: left;
}
@media screen and (max-width: 767px) {
  .footer__top {
    margin: 0;
    padding-top: 10px;
  }
}
.footer__center {
  display: flex;
  gap: 15px;
  padding-bottom: 10px;
  margin: 0 auto;
}
@media screen and (max-width: 767px) {
  .footer__center {
    padding-bottom: 5px;
  }
}
.footer__center img {
  width: 20px;
}
@media screen and (max-width: 767px) {
  .footer__center p {
    font-size: 14px;
  }
}
.footer__bottom {
  position: relative;
  margin: 0 auto;
}
.footer__sns {
  display: block;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -112px);
  width: 20%;
  justify-content: center;
  text-align: center;
}
@media screen and (max-width: 767px) {
  .footer__sns {
    display: none;
  }
}
.footer__sns li {
  margin-bottom: 13px;
  color: white;
  font-family: "futura-pt", sans-serif;
}
@media screen and (max-width: 767px) {
  .footer__sns li {
    font-size: 13px;
    margin-bottom: 0;
  }
}
.footer__sns li img {
  width: 20px;
  margin-bottom: 0;
}
@media screen and (max-width: 767px) {
  .footer__sns .id {
    padding-top: 3px;
  }
}
.footer__sns .sns__message {
  position: relative;
  width: 98px;
  margin: 0 auto;
  text-align: center;
  font-weight: normal;
  padding: 5px 5px 13px 5px;
}
@media screen and (max-width: 767px) {
  .footer__sns .sns__message {
    display: none;
  }
}
.footer__sns .sns__message::before, .footer__sns .sns__message::after {
  position: absolute;
  top: 0.6rem;
  height: 1.2rem;
  content: "";
}
.footer__sns .sns__message::before {
  border-left: dotted 1px white;
  left: 0;
  transform: rotate(-30deg) translateY(-8px);
}
.footer__sns .sns__message::after {
  border-right: dotted 1px white;
  right: 0;
  transform: rotate(30deg) translateY(-8px);
}
.footer .copyright {
  position: absolute;
  left: 70px;
  transform: translate(8px, -45px);
  color: white;
  text-align: center;
  font-size: 14px;
}
@media screen and (max-width: 767px) {
  .footer .copyright {
    left: 30px;
    transform: translate(0, -30px);
    font-size: 12px;
  }
}
.footer .footer__background {
  position: absolute;
  width: 100%;
  margin: 0 auto;
  bottom: 0;
  height: 73px;
  background: #F19BA0;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .footer .footer__background {
    height: 46px;
  }
}
.footer .footer__background::before {
  content: "";
  position: absolute;
  display: block;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 443px;
  height: 140px;
  border-radius: 50%/100% 100% 0 0;
  background: #F19BA0;
  z-index: -1;
}
@media screen and (max-width: 767px) {
  .footer .footer__background::before {
    width: 231px;
    height: 30px;
  }
}

/* --------
page top
-------- */
.pagetop {
  /* 固定表示 */
  position: fixed;
  right: 100px;
  bottom: 0px;
  width: 70px;
}
@media screen and (max-width: 767px) {
  .pagetop {
    right: 10px;
    bottom: 0;
  }
}/*# sourceMappingURL=style.css.map */